@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Saint-Petersburg<br />
    +7 (911) 9131637
</address>

<address>
    <strong>Developer:</strong>   <a href="mailto:yuriy.zotov@gmail.com">yuriy.zotov@gmail.com</a><br />
</address>